<?xml version="1.0" encoding="UTF-8"?>
<!-- Fichier de compatibilité - Redirection vers le fichier de configuration dans le dossier config -->
<!-- Utiliser phpunit avec l'option -c config/phpunit.xml -->
<phpunit xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         cacheResultFile=".phpunit.result.cache"
         configFile="config/phpunit.xml">
</phpunit> 