@use '../abstracts/variables' as *;

// Message d'erreur
.register-form__error-message {
  display: block;
  background-color: $color-primary-bg;
  border: 1px solid $color-accent;
  color: $color-accent;
  border-radius: $radius-md;
  font-size: 0.875rem;
  margin-top: $spacing;
}

// Message de succès
.register-form__success-message {
  display: block;
  background-color: $color-primary-bg;
  border: 1px solid $color-secondary;
  color: $color-accent;
  border-radius: $radius-md;
  font-size: 0.875rem;
  margin-top: $spacing;
}
