@use '../abstracts/mixins' as *;

// Classe container pour centrer le contenu principal
.container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  @include tablet {
    width: 100%;
    max-width: 100%;
  }

  @include desktop {
    width: 100%;
    max-width: 100%;
  }
}
